.title__arrival {
    position: relative;
    z-index: 0;
    h1 {
        font-family: inherit;
        font-weight: 600;
        line-height: 1.1;
        padding-bottom: 50px;
        color: inherit;
        text-transform: uppercase;
        text-align: center;
    }
    .line {
        position: absolute;
        border-top: 5px double black;
        width: calc(100% - 1.99px);
        bottom: 40px;
    }
}
